<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
  </configSections>
  
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  
  <connectionStrings>
    <!-- Основная строка подключения (исправленная) -->
    <add name="DrivingSchoolDB" 
         connectionString="Server=MSI\SQLEXPRESS;Database=DrivingSchoolDB;Integrated Security=True;TrustServerCertificate=True"
         providerName="System.Data.SqlClient" />
    
    <!-- Вторая строка (можно удалить, если не используется) -->
    <!--
    <add name="DrivingSchool.Properties.Settings.DrivingSchoolDBConnectionString"
         connectionString="Data Source=MSI\SQLEXPRESS;Initial Catalog=DrivingSchoolDB;Integrated Security=True;TrustServerCertificate=True"
         providerName="System.Data.SqlClient" />
    -->
  </connectionStrings>
  
  <system.data>
    <DbProviderFactories>
      <remove invariant="System.Data.SqlClient" />
      <add name="SqlClient Data Provider"
           invariant="System.Data.SqlClient"
           description=".NET Framework Data Provider for SqlServer"
           type="System.Data.SqlClient.SqlClientFactory, System.Data, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
    </DbProviderFactories>
  </system.data>
</configuration>